


<div class="ask-reply-editor-con" id="ask-reply-editor-con" data-parent-id="[parent_id]">
    <div id="ask-reply-editor">
    </div>
    <div class="demo-update__controls editor-botton-container">
        <div class="char-counter-con">
            <p>Characters : <span class="demo-update__words"> </span>  </p>
        </div>
        <div class="ask-reply-submit ask-submit-new-button">
            <button class="ask-create-button-action ask-submit-new-button"> ثبت پاسخ </button>
        </div>
    </div>
</div>



