

<li id="[id]">
    <div class="single-content-con">
        <div class="ask-action-con">
    <!--     <div class="ask-arrow-up up_[ask-id]">
                <svg  xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" data-ask-id="[ask-id]"
                      viewBox="0 0 213.333 213.333" style="enable-background:new 0 0 213.333 213.333;" xml:space="preserve"
                      fill ="[fill-like]" class="[like-class] [login-check]" id="down_[ask-id]" >
                    <g>
                        <g>
                            <polygon points="106.667,53.333 0,160 213.333,160 "/>
                        </g>
                    </g>
                </svg>
            </div> -->
            <div class="ask-count">
                <output> [rates] </output>
            </div>

    <!--         <div class="ask-arrow-down down_[ask-id]">
                       <svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" data-ask-id="[ask-id]"
                             viewBox="0 0 213.333 213.333" style="enable-background:new 0 0 213.333 213.333;" xml:space="preserve"
                             fill ="[fill-dislike]" class="[dislike-class] [login-check]"  id="up_[ask-id]" >
                           <g>
                               <g>
                                   <polygon points="0,53.333 106.667,160 213.333,53.333 "/>
                               </g>
                           </g>
                       </svg>
                   </div> -->
               </div>
       <div class="ask-content-text">
           [content]
       </div>
    </div>
    <div class="profile-con">
       <div class="files-con">

       </div>

        <div class="ask-single-reply-profile">
            <div class="profile-img">
                <img src="[profile-image]" alt="[profile-image]">
            </div>
            <div class="creator-name profile-details">
                <a  class="call-in-single-page" href="[creator-link]" onclick="return false;" data-creator="[creator-id]">[creator]</a>
            </div>
            <div class="ask-single-reply-fave">
                <div class="ask-single-reply-like">
                    <i class="like-div"></i>
                    <span>[user-likes]</span>
                </div>
                <div class="ask-single-reply-dislike">
                    <i class="dislike-div"></i>
                    <span>[user-dislikes]</span>
                </div>
            </div>
            <div class="ask-single-reply-date">
                <p>
                    <i> [date-ago] </i>
                    گذشته </p>
            </div>
        </div>

    </div>
</li>





